<%= link_to "Metric", animal_path(@animal.id, metric: true) %>
<%= link_to "Imperial", animal_path(@animal.id, metric: false) %>
<p>
	<table border="3px solid black"; align="center">
		<tr>
			<th style="padding-left: 20px;">
				<h3><%= @animal.name %><br></h3>
			</th>
		</tr>
		<tr>
			<td style="padding: 10px 20px 10px 20px">
				<%= image_tag("#{@animal.get_image_name}.jpg", :size => "400x300") %><br>
			</td>
		</tr>
		<tr>
			<td style="padding-left: 20px;">
				<p>
					<%= @animal.description %>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding-left: 20px;">
				<p> 
					Height: <%= @animal.height %><br>
					Weight: <%= @animal.weight %>
				</p>
			</td>
		</tr>
		<tr>
			<td style="padding-left: 20px;">
				<p> 
					<% if not @metric %>
						<b>Imperial: </b><br>
							<%= @animal.name %>'s height: <%= @height %> in <br>
							<%= @animal.name %>'s weight: <%= @weight %> lbs <br>
					<% else %>
				      	<b>Metric: </b><br>
				      		<%= @animal.name %>'s height: <%= @height %> cm <br>
				      		<%= @animal.name %>'s weight: <%= @weight %> kg <br>
				    <% end %>
				</p>
			</td>
		</tr>
</p>
