<p>
	<%= @baby.first_name %>
	<%= @baby.last_name %><br>
	<%= @baby.birthday %><br>
	<p> 
		<%= @baby.first_name %>'s height: <%= @baby.height %><br>
		<%= @baby.first_name %>'s weight: <%= @baby.weight %>
	</p>
</p>