<p>
	<%= @baby.first_name %>
	<%= @baby.last_name %><br>
	<p> 
		<%= @baby.first_name %>'s height: <%= @baby.height %><br>
		<%= @baby.first_name %>'s weight: <%= @baby.weight %><br>
		<%= @height.value %>
	</p>
</p>