<%= link_to "Metric", baby_path(@baby.id, metric: true) %>
<%= link_to "Imperial", baby_path(@baby.id, metric: false) %>

<table border="3px solid black" align="center">
	<tr>
<td style="width:275px; padding-left: 10px;">
<p>
	<%= @baby.first_name %>
	<%= @baby.last_name %>
	<p> 
		<% if not @metric %>
			Imperial: <br>
				<%= @baby.first_name %>'s height: <%= @height %> in <br>
				<%= @baby.first_name %>'s weight: <%= @weight %> lbs <br>
				<%= @baby.first_name %>'s temperature: <%= @temperature %> F degrees<br>
		<% else %>
	      	Metric: <br>
	      		<%= @baby.first_name %>'s height: <%= @height %> cm <br>
	      		<%= @baby.first_name %>'s weight: <%= @weight %> kg <br>
	      		<%= @baby.first_name %>'s temperature: <%= @temperature %> C degrees<br>
	     <% end %>
	</p>
</p>
</td>
<td style="width:850px; padding-left: 25px;">
<% @animals.each do |animal| %>
	<%= render :partial => "animals/show_animal", :locals => { :a => animal} %>
<% end %>
<br>
</td>
</tr>
</table>

