
<p>
	<%= @baby.first_name %>
	<%= @baby.last_name %><br>
	<p> 
		<%= @baby.first_name %>'s height: <%= @baby.height %><br>
		<%= @baby.first_name %>'s weight: <%= @baby.weight %><br>
		The height is <%= @height.value %><br>
		Are all the units in metric? <%= @baby.metric %><br>
		Imperial: 
			<br> <%= @height_imperial %> in
			<br> <%= @weight_imperial %> lbs
			<br> <%= @temperature_imperial %> F <br>
      	Metric:
      		<br> <%= @height_metric %> cm 
      		<br> <%= @weight_metric %> kg
      		<br> <%= @temperature_metric %> C 
	</p>
</p>